<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
          <div class="col-sm-12 col-md-7
          col-lg-7 partel">
                 <h1>Encriptador</h1>
                 <p>Lorem ipsum dolor sit
                 amet consectetur
                 adipisicing elit.Maiores
                 cum quo,nisi consequuntur,
                 rerum,praesentium et
                 nostrum elus reiciendis
                 obcaecati at recusandae
                 tempora cunque sint quae!
                 Consequatur ipsa aspernatur
                 nulla!</p>
          </div>
          <div class="col-sm-12 col-md-3
          col-lg-3 offset-md-1
          offset-lg-1 parte2">
                 <img src="../../../assets/facebook.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>