<div class="row" id="main-container">
    <div class="editarContenedor">
        <h1>Educacion</h1>
        <button class="btn" *ngIf="userLogged" (click)="onOpenModal('add')"><img src="https://w7.pngwing.com/pngs/535/334/png-transparent-computer-icons-add-button-logo-number-add-button-thumbnail.png" class="btnAccion"></button>
    </div>
    <div class="col-lg-11" *ngFor="let education of educations">
         <ul style="margin-left: 70px">
          <div style="display: flex; align-items: center;">
              <li><h1>{{education.tituloEdu}}</h1> - <h3>({{education.fechaEdu}})</h3></li>
              <div class="editarContenedor">
                <button class="btn" *ngIf="userLogged" (click)="onOpenModal('edit',education)"><img class="btnAccion" src="https://cdn-icons-png.flaticon.com/512/84/84380.png"></button>
                <button class="btn" *ngIf="userLogged" (click)="onOpenModal('delete', education)"><img class="btnAccion" src="https://cdn-icons-png.flaticon.com/512/1214/1214594.png"></button>
            </div>
              <img src="{{education.imagenEdu}}" style="margin-left: 50px">
          </div>
              <p class="descripcion">{{education.descEdu}}</p>
         </ul>
    </div>
</div>

<!--Modal añadir-->
<div class="modal fade" id="addEducationModal" tabindex="-1" role="dialog" aria-labelledby="addEducationModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEducationModalLabel">Añadir Educacion</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
                    <div class="form-group">
                        <label for="tituloEdu">Titulo</label>
                        <input type="text" ngModel name="tituloEdu" class="form-control" id="tituloEdu" placeholder="Titulo" required>
                    </div>
                    <div class="form-group">
                        <label for="fechaEdu">Fecha</label>
                        <input type="text" ngModel name="fechaEdu" class="form-control" id="tituloEdu" placeholder="Fecha" required>
                    </div>
                    <div class="form-group">
                        <label for="descEdu">Descripcion</label>
                        <input type="text" ngModel name="descEdu" class="form-control" id="descEdu" placeholder="Descripcion" required>
                    </div>
                    <div class="form-group">
                        <label for="imagenEdu">Imagen</label>
                        <input type="text" ngModel name="imagenEdu" class="form-control" id="imagenEdu" placeholder="Link imagen" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="add-education-form"  class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" (click)="onAddEducation(addForm)">Añadir cambios</button>
            </div>
        </div>
    </div>
</div>

<!--Modal editar-->
<div class="modal fade" id="editEducationModal" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="editEducationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEducationModalLabel">Editar Educacion</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="tituloEdu">Titulo</label>
                        <input type="text" ngModel="{{editEducation?.tituloEdu}}" name="tituloEdu" class="form-control" id="tituloEdu" placeholder="Titulo" required>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label for="tituloEdu">Id (No modificar)</label>
                        <input type="text" ngModel="{{editEducation?.idEdu}}" name="idEdu" class="form-control" id="idEdu" placeholder="Id" required>
                    </div>
                    <div class="form-group">
                        <label for="fechaEdu">Fecha</label>
                        <input type="text" ngModel="{{editEducation?.fechaEdu}}" name="fechaEdu" class="form-control" id="tituloEdu" placeholder="Fecha" required>
                    </div>
                    <div class="form-group">
                        <label for="descEdu">Descripcion</label>
                        <input type="text" ngModel="{{editEducation?.descEdu}}" name="descEdu" class="form-control" id="descEdu" placeholder="Descripcion" required>
                    </div>
                    <div class="form-group">
                        <label for="imagenEdu">Imagen</label>
                        <input type="text" ngModel="{{editEducation?.imagenEdu}}" name="imagenEdu" class="form-control" id="imagenEdu" placeholder="Link imagen" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button (click)="onUpdateEducation(editForm.value)" type="submit" class="btn btn-primary">Añadir cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal Eliminar-->
<div class="modal fade" id="deleteEducationModal" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="deleteEducationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteEducationModalLabel">Eliminar Educacion</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Estas seguro que deseas eliminar la educacion?</p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button (click)="onDeleteEducation(deleteEducation!.idEdu)" type="button" class="btn btn-danger" data-dismiss="modal">Si</button>
            </div>
        </div>
    </div>
</div>