<div class="row">
    <div class="editarContenedor">
        <h1>Hard And Soft Skills</h1>
        <button class="btn"><img src="https://w7.pngwing.com/pngs/535/334/png-transparent-computer-icons-add-button-logo-number-add-button-thumbnail.png" class="btnAccion"></button>
   </div>
    <div *ngFor="let skill of skills">
            <div class="text-center col-lg-4">
                <circle-progress
                    [percent]=skill.porcentaje
                    [radius]="100"
                    [imageSrc]=skill.fotoSkill
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="70"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
            </div>
    </div>
</div>